<style>
        #foto_pers{
            margin: 5px;
            border: solid 4px #cccccc
        }

        #principal{
            border: solid 1px;
            padding: 10px;
            width: 80%;
            margin: 0 auto;

         }

         Legend{
            border: solid 1px #0000c5;
            padding: 5px;
            font-weight: bold;
            border-radius: 10px;
            background: #a6daea;
          }

          body{
            background: #5D85B9;

    </style>